body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #485563, #29323c);
    color: #fff;
}

header {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
    position: relative;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    color: #4CAF50;
}

.nav-links a.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4CAF50;
}


.user-actions a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.user-actions a:hover {
    color: #4CAF50;
}

.formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLabel{
    display: flex;
    color: white;
    justify-content: center;
}

.formTitle {
    color: #000000;
    font-weight: 700;
    transform: scale(1.1, 1.1);
}

.centerDiv{
    text-align: center;
}

.current-page{
    color: #2dff73
}